@import url('https://fonts.googleapis.com/css?family=Montserrat|Signika&display=swap');

body{
  background-color: #bac3d8;
}
.App {
  
  background-color: #435d73 !important;
}
#navBar { 
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
}
.nav-item:any-link{
  text-decoration: none !important;
  border-width: 3px;
  
  
}

.nav-item:hover{
  color: #f57515 !important;
}
.bg-color{
  background-color:#bac3d8 !important;
}
.font-color-sec{
  font-size: 1.2em;
  color: #f57515;
}

.border-thick{
  border-bottom: 3px solid #Ebd967;
  border-radius: .75em;
  
}
.font-color-dark{
  font-size: 1.1em;
  color: #685972 !important;
}
.overview-btn{
  background-color: #ebd967 !important;
  border-color: #ebd967!important;
  color: #435d73;

  
}
.overview-btn:hover{
  background-color: #f57515 !important;
  border-color: #f57515 !important;
  color: #f0ebf0 !important;
}
.round-border{

  border: 30px solid  #Ebd967!important;
}
.participation-btn{
  background-color: #f57515 !important;
  border-color: #f57515 !important;
}
.participation-btn:hover{
  background-color: #ebd967 !important;
  border-color: #ebd967 !important;
  color: #685972 !important;
}

.font-signika{
  font-family: 'Signika', sans-serif;
}
.font-mont{
  font-family: 'Montserrat', sans-serif;
}

.make-white{
  color: #F0EBF0;
  border-color: #f57515;
}
.make-white:hover{
  color: #f57515 !important;
}

.size-up{
  font-size: 2.5em !important;
}

.linkage{
  text-decoration: none !important;
  color: #f57515 !important;
}

.linkage:hover{
  color: #f0ebf0 !important;
  text-decoration: underline !important;

}